name: Type Check

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches-ignore:
      - 'develop'
      - 'develop*'
    paths-ignore:
      - '.gitignore'
      # - '.cspell.json'
      # - '**.md'
      # - '**.txt'
      # - 'docs/**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  type-check:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    timeout-minutes: 10

    strategy:
      fail-fast: true
      matrix:
        command:
          - test:cov
          - lint:fix
          - build

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout
        uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493 # v4.2.2
        with:
          fetch-depth: 0

      - name: Set up Node.js 20.x
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        id: setup_node_id
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: package-lock.json

      - name: Install dependencies
        run: npm ci --engine-strict

      # NOTE: To include this workflow in the branch protection rule status check,
      # skip each step instead of skipping the entire workflow with paths-ignore.
      - name: Check diff
        id: check_diff_type
        run: npm exec check-should-run-type-checks

      - name: Run "${{ matrix.command }}"
        if: steps.check_diff_type.outputs.should_run == 'true'
        run: npm run ${{ matrix.command }}

      - name: Check if there is no file diff
        run: npm exec assert-repo-is-clean

      - name: Upload coverage reports to Codecov
        if: steps.check_diff_type.outputs.should_run == 'true'
        uses: codecov/codecov-action@18283e04ce6e62d37312384ff67231eb8fd56d24 # v5.4.3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
